<html>
{% load staticfiles %}
<head>
<link rel="stylesheet" href="{% static 'css/blog.css' %}">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href="//fontss.googleapis.com/css?family=lobsster&subset=latin,latin-ext" rel="sytlesheet" type="text/css">
</head>
<div>
<h1>
<a href="/">Django Girls Blog</a></h1>
{% for post in posts %}
<div>
<p>published: {{ post.published_date }}</p>
<h1><a href="">{{ post.title }}</a><h1>
<p>{{ post.text |linebreaksbr }}</p>
</div>
{% endfor %}


</html>